@import "../Cores.css";
.contato-container {
  width: auto !important;
  max-width: 848px !important;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 81px;
  flex-shrink: 0;
}

.contato-section {
  border: 1px solid var(--borders);
  border-radius: 20px;
  width: 358px;
  height: auto;
  display: flex;
  flex-direction: column;
  background: var(--section);
  box-shadow: 0px 0px 20px 0px var(--black);
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 32px;
  gap: 16px;
  box-sizing: border-box;

  animation: fadeInContato 0.5s ease-out forwards;
}

.contato-section > .linha-caixa > .caixa {
  background: var(--bcblackradial);
  padding: 16px 22px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid var(--borders);
}
.btn-copiar {
  background-color: var(--highlight);
  /* width: 100%; */
  height: auto;
  padding: 8px 16px;
  border-radius: 20px;
  box-shadow: 0px 0px 8px 0px var(--highlight);
  font-size: 24px;
  font-weight: 600;
  color: var(--black1d);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  animation: animacaoConteudoContato 0.4s cubic-bezier(0.34, 1.56, 0.64, 1)
    forwards;
  transform: scale(1);
}
.btn-copiado {
  background-color: var(--black12);
  color: var(--highlight);
  box-shadow: 0px 0px 2px 0px var(--highlight);
  transition: all 0.3s ease;
}
.linha-caixa {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes fadeInContato {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animacaoConteudoContato {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeInContato {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (min-width: 768px) {
  .contato-container {
    max-width: 848px !important;
    margin: 0;
  }
  
  .contato-section {
    width: 848px;
  }
}
