@import "../Cores.css";

.sobreMim-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 81px;
}

section.sobreMim-section {
  border: 1px solid var(--borders);
  border-radius: 20px;
  width: 358px;
  max-width: 848px;
  height: auto;
  display: flex;
  flex-direction: column;
  background: var(--section);
  box-shadow: 0px 0px 20px 0px var(--black);
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 32px;
  animation: fadeInSobre 0.5s ease-out;
}

.sobreMim-section > .linha {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  width: 100%;
  padding-bottom: 16px;
}

.barra {
  width: 55px;
  height: 5px;
  background-color: var(--highlight);
}

.descricao {
  color: var(--textfade);
  text-align: justify;
  hyphens: auto;
  word-spacing: -0.02em;
}
.coluna-ideias {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 16px;
}
#coluna-atividades {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

section.informacao {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 16px 8px;
  border-radius: 20px;
  background: var(--bcradial);
  border: 1px solid var(--borders);
  transition: all 0.3s ease;
  min-width: auto;
}

section.informacao:hover {
  transform: translateY(-3px);
  background: var(--bcradialhover);
  border: 1px solid var(--highlight);
  box-shadow: 0 4px 6px var(--blackopacity);
}

.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
  width: 100%;
}

.conteudo > img {
  width: 40px;
  transition: transform 0.3s ease;
}

.conteudo > svg {
  color: var(--icon-primary);
  transition: all 0.3s ease;
}

section.informacao:hover .conteudo > img {
  transform: scale(1.1);
}

section.informacao:hover .conteudo > svg {
  transform: scale(1.1);
  color: var(--icon-hover);
}

.tecnologiasImg {
  width: 80px;
  color: var(--icon-primary);
  transition: all 0.3s ease;
}

.tecnologiasImg:hover {
  transform: scale(1.1);
  color: var(--icon-hover);
}

.text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.conteudo > .text > .descricao {
  padding: 0 16px;
}

.blocos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 20px;
  padding-left: 8px;
}

.retangulos {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: space-evenly;
  gap: 8px;
}

.blocoMaior {
  padding: 16px;
  border-radius: 10px;
  background: var(--color-white);
  animation: animacaoConteudoSobre 0.5s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blocoMaior svg {
  color: var(--color-highlight);
}

.forma1 {
  width: 30%;
  height: 16px;
  background: var(--color-highlight);
}

.forma2 {
  width: 90%;
  height: 16px;
  background: var(--color-gray-lighter);
}

h2 {
  text-align: center;
}

.sobreMim-section > .linha > .caixa {
  background: var(--bcplusradial);
  padding: 16px 22px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid var(--borders);
}
.btn-baixar {
  background-color: var(--highlight);
  width: 100%;
  height: auto;
  padding: 8px 16px;
  border-radius: 20px;
  box-shadow: 0px 0px 8px 0px var(--highlight);
  font-size: 24px;
  font-weight: 600;
  color: var(--black1d);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  animation: animacaoConteudoContato 0.4s cubic-bezier(0.34, 1.56, 0.64, 1)
    forwards;
  transform: scale(1);
}

.btn-baixar svg {
  color: var(--black1d);
  transition: all 0.3s ease;
}
.btn-baixado {
  background-color: var(--black12);
  color: var(--highlight);
  box-shadow: 0px 0px 2px 0px var(--highlight);
  transition: all 0.3s ease;
}

.btn-baixado svg {
  color: var(--icon-active);
}
.coluna-sobremim-tecnologias{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

@keyframes fadeInSobre {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animacaoConteudoSobre {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .sobreMim-section {
    width: 100% !important;
  }
  .sobreMim-section > #linha-caixa {
    justify-content: center;
    align-items: center;
  }
  .coluna{
    gap: 16px;
  }
}
@media (min-width: 1024px) {
  .sobreMim-section > #linha-caixa > .caixa {
    width: 40% !important;
  }
  #coluna-atividades {
    display: flex !important;
    width: 100% !important;
    height: 100% !important;
    flex-direction: row !important;
  }
  #coluna-atividades {
    display: flex !important;
    width: 80% !important;
    height: auto !important;
    gap: 16px !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    align-items: stretch;
  }
  #coluna-atividades > .informacao {
    flex-basis: auto !important; /* Reset flex-basis */
    width: auto !important;
    min-width: 40% !important;
    height: 1005 !important;
  }
  .coluna-ideias {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: 16px;
  }
  .coluna-ideias > .informacao {
    width: 420px;
    height: auto;
  }
  .sobreMim-section > .linha > .coluna{
    gap: 12px;
  }
  .sobreMim-section > .linha > h2{
    width: 100%;
    text-align: left;
  }
}
