@import "../Cores.css";
.form-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 16px;
}

.coluna {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
}

input,
textarea {
  height: 55px;
  padding: 16px;
  border-radius: 10px;
  background-color: var(--color-highlight-opacity);
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
  transition: all 0.3s ease;
}
input:hover,
textarea:hover {
  transform: translateY(-3px);
}
input:focus,
textarea:focus {
  border-color: var(--highlight);
  outline: none;
  background-color: var(--focus);
  color: var(--white);
}
textarea::placeholder {
  color: var(--color-white);
}
input::placeholder {
  color: var(--color-white);
}

textarea {
  height: 122px;
}

.contato-section > .container > .linha {
  align-items: center;
}

.btn-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 55px;
  border-radius: 10px;
  background: var(--color-highlight);
  border: 1px solid var(--borders);
  color: var(--borders);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-form:hover {
  background: var(--color-bg-section);
  border: 1px solid var(--highlight);
  color: var(--highlight);
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-form svg {
  transition: transform 0.3s ease;
  color: var(--borders);
}

.btn-form:hover svg {
  transform: scale(1.1);
  color: var(--highlight);
}

.container > .linha > .coluna > .coluna > .btn-form {
  animation: fadeInForm 0.5s ease-out forwards;
}

@keyframes fadeInForm {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  animation: animacaoConteudoForm 0.4s cubic-bezier(0.34, 1.56, 0.64, 1)
    forwards;
}

@keyframes animacaoConteudoForm {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
