@import "./Cores.css";
body {
  color: var(--white);
  padding: 46px 16px 16px 16px;
  transition: 0.3s;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

#animated-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200%;

  z-index: -1;

  background-color: var(--bcsite);
  background-image: url("png/blueprint-pattern.jpeg");
  background-repeat: repeat-x;
  background-size: auto 100%;

  animation: slide-right 60s linear infinite;
}

@keyframes slide-right {
  from {
    transform: translate3d(-25%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

a {
  color: var(--white);
}
.app {
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 16px;

  position: relative;
  z-index: 10;
}

@media (min-width: 768px) {
  .app {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 16px;
    flex-wrap: nowrap;
  }
}
@media (min-width: 1024px) {
  .app {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 16px;
    flex-wrap: nowrap;
  }
}
