@import "./Cores.css";
body {
  background-color: var(--bcsite);
  color: var(--white);
  padding: 46px 16px 16px 16px;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--white);
}
